
.column-item{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.dropdown-status{
    width: auto;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#ferias-texto-justificativa{
    width: 100%;
    min-height: 100px !important;
}

@media screen and (max-width: 506px){
    .dropdown-status{
        justify-content: center;
        .p-dropdown {
            width: 100%;
        }

    }


}

@media screen and (max-width: 1140px)and (min-width: 506px){


}