.importar-csv-processo{
    height: 70vh;
    width: 100%;
}

.editar-csv-processo{
    height: 80vh;
    width: 100%;
    overflow: auto;
}

.opcao-processo-seletivo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-modo-processo{
    margin-right: 10px;
    margin-left: 10px;
}

.csv-table{
    margin-top: 10px;
    height: 100%;
    overflow: auto;
    font-size: 12px;
}

.celula-tabela-csv{
    border: 1px solid #545372;
    font-weight: normal;
    padding: 3px;
}

.rodape-exportacao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.dropdow-separador-csv{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.linha-candidato-processo{
    margin-top: 2px;
    padding: 5px;
    border: 1px solid #DADADA;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 5% 45% 20% 30%;
}

.linha-candidato-processo-header{
    margin-top: 2px;
    padding: 5px;
    display: grid;
    grid-template-columns: 5% 45% 20% 30%;
}

#texto-processo-vazio{
    text-align: center;
    margin-top: 20px;
}
