@import "../../paleta.scss";

.dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.titulo-dash{
    margin-left: auto;
    margin-right: auto;
    opacity: 40%; 
    text-transform: uppercase;
}
@media screen and (max-width: 506px){
    .titulo-dash{
        font-size: 15px;
    }
}

@media screen and (max-width: 1140px)and (min-width: 506px){


}