
.input-busca-servidores{
    text-transform: uppercase;
    width: 70%;
}

.formulario-busca-servidores{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width: 506px){
    .botao-busca-servidor{
        padding: 15px !important;
        display: flex;
        
        .p-button-label{
            display: none;
        }
    }
  }