@import "../../../paleta.scss";


.meritocracia-table {
  height: 100%;

  .p-datatable {
    margin-bottom: 1rem;
    table-layout: fixed;

    .p-datatable-tbody {
      height: 100px;

      tr {
        &:nth-child(2n) {
          background-color: whitesmoke;
        }

        height: 50px !important;

        td {
          padding: 0.2rem 0.5rem !important;
          border-top: none;
          border-right: none;
          border-bottom: 1px solid #dee2e6;
          border-left: none;
          font-size: 15px
        }
      }
    }
  }
}

#modal-spinner-importacao{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.meritocracia-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  .p-inputtextarea {
    height: 40vh;
    resize: vertical;
    width: 70%;
    white-space: pre;
  }

  .p-disabled {
    background-color: rgb(235, 235, 235);
    pointer-events: all;
  }

  .p-dropdown {
    width: 20rem;
    margin-bottom: 10px;
  }

  .meritocracia-elementos {
    display: flex;
    width: 70%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .switch-editar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#importar-csv-meritocracia{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#importar-csv-meritocracia > span{
  margin-left: 10px;
}

@media only screen and (max-width : 1600px) {
  .p-datatable {
    height: 80%;
    overflow: auto;
  }
}
