.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #divToPrint{
    width: 840px;
    height: 1116px;
    font-size: 14px;
    padding: 10px;
    box-shadow: 10px 10px 10px #ccc;
    border: 1px solid #ccc;
    
  }
  
  #divToPrint > div{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  
  table{
    width: 80%;
    background-color: aquamarine;
  }
  
  td{
    border: 1px solid black;
  }
  