@import "../../paleta.scss";

.gradient1{
    width:35%;
    position: fixed;
    left: 0px;
    top: 7%;
    //z-index: -1;
}

.gradient2{
    width:35%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    //z-index: -1;
}

.navegacao-topo {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0px 15px 0px 15px;
}

#icone-notificacoes{
    margin-right: 20px;
    font-size: 1.4rem !important;
    
    .badge-notificacao{
        font-size: 0.7rem;
        font-weight: 400;
        min-width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        padding: 0px;

    }
}

.circulo-notificacao {
    background: red;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}
.circulo-lido {
    background: transparent;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

#topo-panel-notificacoes{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
}

#overlay_panel{
    width: 479px;
    height: 340px;
    overflow: auto;
}

#overlay_panel > div > div.p-datatable.p-component.p-datatable-selectable.p-datatable-scrollable.p-datatable-scrollable-vertical.p-datatable-responsive-stack > div > table > thead {
    display: none !important;
}
/* 
body > div.p-slidemenu.p-component.p-slidemenu-overlay.p-connected-overlay-enter-done > div{
    height: 104px !important;
}
 */
.p-overlaypanel::after{
    display: none !important;
}

.p-overlaypanel::before{
    display: none !important;
}

.template-notoficacao-linha-tempo{
    margin: 0px;
    font-size: 12px;
}
.template-notoficacao-linha-titulo{
    margin: 0px;
    font-size: 13px;
}
.template-notoficacao-linha-texto{
    margin: 0px;
    font-size: 13px;
}

.nav-topo-logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-branca {
    opacity: 85%;
    height: 60%;
}

.titulo-nav{
    opacity: 85%;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.nav-topo-botoes {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
}

.nav-topo-botoes button{
    margin: 0px !important;
    padding: 0px !important;
}

.paragrafo-alerta {
    margin: 0px;
}

.name-user {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 15px;
}

.titulo-user {
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    font-size: 11px;
}

.versao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seletor-de-temas{
    border-top: 1px solid #DADADA;
    width: 100%;
    padding: 15px;
}

.botao-sair-sistema{
    margin-top: 5px;
    border-top: 1px solid #DADADA;
    width: 100%;
}

.p-sidebar .p-sidebar-content {
    padding: 0 !important;
}


@media screen and (max-width: 506px){
    .gradient2, .gradient1{
        display: none;
    }
    .nav-topo-botoes button{
        width: 40px !important;
        height: 40px !important;
    }
    .nav-topo-logo{
        display: none !important;
    }

    #overlay_panel{
        width: 90vw;
        height: 55vh;
        margin: 10px;
    }
}

@media screen and (max-width: 1140px)and (min-width: 506px){
    .gradient2, .gradient1{
        display: none;
    }

    .nav-topo-botoes button{
        width: 40px !important;
        height: 40px !important;
    }
    .navegacao-topo{
        padding: 10px;
    }
    .nav-topo-logo{
        display: none !important;
    }
}