.div-tela-spinner-componente{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-tela-spinner-componente > p{
    margin-top: 20px;
}