.spinner-carregamento{
  height: 100%;
  display: flex;
  align-items: center;
}

.distribuicao-relatorios {
  height: 100%;

  .p-dropdown {
    width: 23rem;
    margin-bottom: 10px;
    position: initial;
  }
  
  ul.lista-sorteados {
    padding: 0px;
    width: 50%;
    height: 59vh;
    border-radius: 5px;
    overflow: auto;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;

      list-style: none;
      padding: 10px;
      margin: 3px 0;
      border-radius: 12px;

      span.span-info {
        font-size: small;
        font-style: italic;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (max-width: 506px) {
    #calendario-processos {
      width: 90%;
    }

    ul.lista-sorteados {
      width: 90%;
    }
  }

  @media screen and (max-width: 1140px)and (min-width: 506px) {}
}