@import "../../../paleta.scss";


.meritocracia-avaliacao-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .p-inputtextarea {
    height: 20vh;
    resize: vertical;
    width: 70%;
    white-space: pre;
  }

  .p-disabled {
    background-color: rgb(235, 235, 235);
    pointer-events: all;
  }

  .p-dropdown {
    width: 20rem;
    margin-bottom: 10px;
  }

  .meritocracia-elementos {
    display: flex;
    width: 70%;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .switch-editar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}