@import '../paleta.scss';

.calendario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    background-color: white;
}

.calendario-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0px 10px;
    border-radius: 9px;
}

.container-mes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.calendario-mes{
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 15px 0px 20px;
}

.calendario-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 37px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.015em;
    padding-top: 5px;
    text-transform: uppercase;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.25);
}

.backButton,
.nextButton{
    cursor: pointer;
}

.calendario-nav-lateral{
    width: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    min-height: 50px;
    padding: 20px;
    background-color: $cor-2;
    color: $cor-inside-2;
    text-transform: uppercase;
    border-radius: 10px 0px 0px 10px;
}

.calendario-dia{
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}

.calendario-folgas-data button{
    width: 100%;
    height: 100%;
    padding: 5px 5px 3px 5px;
    border: 1px solid #C4C4C4;
    border-radius: 0px;
}

.cal-botao-ativo:focus {
    background-color: $cor-1;
    color: $cor-inside-1;
}

.cal-botao-ativo:hover{
    background-color: $cor-2 !important;
    color: $cor-inside-2!important;
}

.calendario-nav button{
    border: none;
    background-color: transparent;
    border-radius: 20px;
    width: 40px;
}

.calendario-nav button:hover{
    background-color: $cor-4;
}

.botao-complementar{
    color: $cor-5;
}


.q1 > button{
    border-radius: 10px 0px 0px 0px;
}

.q2 > button{
    border-radius: 0px 10px 0px 0px;
}

.q3 > button{
    border-radius: 0px 0px 0px 10px;
}

.q4 > button{
    border-radius: 0px 0px 10px 0px;
}

@media screen and (max-width: 506px){

    .calendario-main{
        flex-direction: column !important;
    }

}

@media screen and (max-width: 1140px)and (min-width: 506px){

    
}


