


.rotulo-formulario{
    width: 95%;
    margin-top: 10px;
}

#naturalidade-input{
    display: flex;
}

.painel-anotacoes{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-anotacao{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.botao-opcoes-anotacao{
    margin-left: 5px !important;
}

.resumo-anotacoes{
    width: 100% !important;
}

.item-ver-dados{
    padding: 4px;
    border-top: 1px solid #DFDFDF;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    margin: 0px;
}

.grupo-input-label-ver{
    display: flex;
    flex-direction: column;
    border: 1px solid #DFDFDF;
    margin-top: 5px;
    padding: 0px;
}

.rotulo-ver-dados{
    margin: 0px;
    padding: 0px 0px 0px 4px;
}

.seletor-de-data{
    width: 100%;
}