@import "../../../paleta.scss";
.painel-cadastro-servidor{
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
    align-items: center;
}

.form-cadastro-servidor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-grid{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 25% 24% 25% auto;
    column-gap: 10px;
}
.header-lotacao{
    grid-column: 1 / 3;
}
.select-ativo{
    margin-left: auto;
}
.select-estagio-ativo{
    margin-left: auto;
}

.grupo-input-label-2cols{
    flex-direction: row !important;
    column-gap: 10px;
}
.grupo-input-label-grad{
    width: 50%;
    margin-top: auto;
}

.rotulo-formulario{
    width: 95%;
    margin-top: 10px;
}

.grupo-input-label > input{
    width: 100%;
}

.grupo-input-mat > input{
    width: 100%;
}

.grupo-input-foto{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    position: relative;
    margin: 10px 0px 15px 0px;
}

.grupo-input-mat{
    padding-top: 10px;
}

.foto-servidor{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ass-servidor{
    max-height: 60px;
    border-radius: 10px;
}

.ass-default-servidor{
    filter: invert(10%);
}

.input-files{
    display: none;
}

.rodape-cadastro-servidor{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-select{
    width: 100%;
}

.input-select-chips > ul{
    width: 100%;
}

.input-select-1{
    width: 78%;
}

.input-select-2{
    width: 38%;
    margin-left: 2%;
}

.input-uf-naturalidade{
    width: 20%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px !important;
    font-weight: bold;
    border-radius: 5px;
}
.input-mu-naturalidade{
    width: 80%;
}

#naturalidade-input{
    display: flex;
    width: 100%;
}

.painel-anotacoes{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-anotacao{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.botao-opcoes-anotacao{
    margin-left: 5px !important;
}

.resumo-anotacoes{
    width: 100% !important;
}

.card-selecionar-chefe{
    height: 100%;
}


.p-chips-token{
    padding: 5px !important;
    margin-top: 3px;
    border: 1px solid #5967D6;
}

.grupo-funcoes-atribuidas{
    min-height: 40px;
    width: 100%;
}

.item-funcao-servidor{
    border: 1px solid #DEE2E6;
    margin: 2px 5px 2px 5px;
    padding: 5px 5px;
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
    color: #6C757D;
    border-radius: 3px;
}

.item-funcao-servidor > p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.item-funcao-servidor > button{
    border: none;
    outline: none;
    background-color: #5B6EE5;
    color: #FFF;
    border-radius: 3px;
}
.item-funcao-servidor > button:hover{
    background-color: #4756b7;
}

.cadastro-painel{
    height: calc(100vh - 15.5rem);
    overflow: auto;
}

.p-tabview-panels{
    padding: 0px !important;
}

.texto_alerta_desativar{
    text-align: left;
}

.form-servidor-dados-funcionais{
    margin-top: 20px;
    border: none !important;
}

@media screen and (max-width: 506px){
    .cadastro-painel{
        height: 77vh;
    }
    .rodape-cadastro-servidor{
        padding: 10px;
    }
    .p-tabview-nav-link{
        padding: 10px !important;
    }
    .painel-cadastro-servidor, .grupo-input-label-2cols{
        grid-template-columns: 100%;  
    }
    .grupo-input-label-grad{
        width: 100%;
    }
    .grupo-input-label-2cols {
        flex-direction: column !important;
    }
    .header-grid{
        grid-template-columns: 100%;
        grid-column: 1 / 2; 
    }
    .header-estagio-lotacao{
        grid-column: 1 / 1;
    }
    .select-ativo:nth-of-type(4){
        grid-row: 1;
        margin-right: auto;
    }
    .select-estagio-ativo:nth-of-type(3){
        grid-row: 1;
        margin-right: auto;
    }
    .grupo-input-mat:nth-of-type(2){
        grid-row: 4;
    }
    .grupo-input-mat:nth-of-type(1){
        grid-row: 2;
    }

}
  
@media screen and (max-width: 1140px)and (min-width: 506px){


}
