.field-triplo{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.vaga_estagio{
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #E2E5E9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p-inputnumber{
    width: 50%;
}

.field-num-vagas{
    margin-left: 5px;
}

#vaga-estagio-descricao{
    width: 50%;
}

#vaga-estagio-vagas{
    width: 25%;
}

#vaga-estagio-botoes{
    text-align: right;
    width: 25%;
}
