.tabView-solicitacoes{
    display:flex;
    align-items:right;
    justify-content:right;
}

.ver-relatorios-gerais{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 2px;
}
