.field input{
    margin-bottom: 0px;
}

.documento-item-estagio{
    width: 100%;
    margin-top: 2px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E9ECEF;
    border-radius: 5px;
}