@import '../../../ferias/solicitacao/calendario/paleta.scss';

.calendario-folgas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.calendario-folgas-main{
    width: 95%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 15px 0px 20px;
}

.calendario-folgas-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 50px;
    text-transform: uppercase;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.25);
}

.calendario-folgas-dia{
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}


.calendario-folgas-data button{
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px 0px 5px;
    border: 1px solid $cor-8;
    border-radius: 0px;
}

.calendario-folgas-nav button{
    border: none;
    color: $cor-inside-2;
    background-color: transparent;
    border-radius: 20px;
    width: 40px;
}

.botao-complementar{
    color: $cor-5;
}


.q1 > button{
    border-radius: 10px 0px 0px 0px;
}

.q2 > button{
    border-radius: 0px 10px 0px 0px;
}

.q3 > button{
    border-radius: 0px 0px 0px 10px;
}

.q4 > button{
    border-radius: 0px 0px 10px 0px;
}

