#importar-arquivo-solicitacao{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
#importar-arquivo-solicitacao > span{
    margin-left: 10px;
}

.texto-modal-arquivo-solicitacao{
    margin: 0px;
}