.pecunia_selecao{

    width: 100%;
    height: 80vh;
}

.area-soliciar-pecunia{
    height: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-column: 2 / 2;
    grid-template-rows: 90% 10%;
    
}
.caixa-pecunia-esq{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.caixaVigenciasPecunia{
    max-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button{
        margin: 0 auto;
    }       
}

.area-soliciar-pecunia_tabela1{
    overflow: auto;
}

.area-soliciar-pecunia_tabela2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.pecunia_selecao_tabela3{
   
    
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    width: 100%;
    height: 50%;

}
