@import '../paleta.scss';

.App{
    display: flex;
    width: 100%;
}

h1{
  font-weight: 700 !important;
  font-size: 2.25rem !important;
}

h2{
  font-weight: 700 !important;
  font-size: 1.7rem !important;
  display: flex;
  align-items: center;
}

h5{
  font-weight: 700 !important;
}

.p-checkbox-icon{
  font-size: 12px!important;
  font-weight: 900 !important;
}

.p-slider.p-slider-horizontal{
  border-radius: 8px !important;
  height: 14px !important;

}

.rotas{
    width: 100%;
}

.topo{
    height: 7vh;
    width: 100%;
}

.main{
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Edge, IE */
  user-select: none; /* Modern browsers */
}
.col-centralizado{
  text-align: center !important;
  justify-content: center;
  .botoes-acao{
    display: flex;
  }
}

.col-centralizado > .p-column-header-content {
  justify-content: center;
}

.input-toggle-rotulo{
  display: flex;
  align-items: center;
}

.input-toggle-rotulo > p{
  margin: 0px 10px 0px 10px;
}

.p-column-filter-clear-button{
  display: none !important;
}
.p-datepicker-trigger{
  margin: 0px !important;
  padding: 0.75rem 0.75rem;
  //border: none !important;
}

.grupo-input-label{
  font-size: 14px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  button{
      margin: 0px !important;
      background-color: #e9ecef;
      color: #6c757d;
      border-top: 1px solid #ced4da !important;
      border-right: 1px solid #ced4da !important;
      border-bottom: 1px solid #ced4da !important;
      border-left: none !important;
      padding: 0.75rem 0.75rem;
      //border: none !important;
  }
}

.texto-maiusculo{
  text-transform: uppercase;
}

.table-header{
  display: flex;
  justify-content: flex-end;
  input{
    height: 40px;
    font-size: 0.9rem;
  }
}

#meritocracia_servidor .p-datatable-wrapper, #meritocracia_membro .p-datatable-wrapper,
#meritocracia_unidade .p-datatable-wrapper, #meritocracia_sede .p-datatable-wrapper{
  height: calc(74vh - 7rem);
  overflow: overlay;
}

.p-paginator-bottom{
  padding-bottom: 0px !important;
}
.p-paginator .p-paginator-pages .p-paginator-page{
  min-width: 2rem !important;
  height: 2rem !important;
  font-size: 0.9rem !important;
}

.field{
  display: grid;
  small{
    margin-top: 0.25rem;
  }
  input{
    margin-bottom: 1rem;
    height: 40px;
  }
  .p-inputgroup{
      margin-bottom: 1rem;
  }

}
.p-inputgroup{
  margin-top: 0px !important;
  height: 40px;
}

.p-breadcrumb,
.p-tabview .p-tabview-nav,
.p-tabview .p-tabview-nav li .p-tabview-nav-link,
.p-tabview .p-tabview-panels
{
  background: transparent !important;
}
.p-tabview .p-tabview-nav {
  border: none !important; 
}
  
.dropdown_darkblue{
    //width: 254px;
    height: 42px;
    .p-inputtext{
      padding: 0 !important;
      margin: auto 0 auto 1.5rem;

    }
  .p-dropdown-label{
    font-family: 'gotham';
    font-size: 0.9rem !important;
  }
  .p-dropdown-label, .p-dropdown-trigger-icon{
    font-weight: 700 !important;
  }
}
.inputnumber_darkblue{
  display: flex !important;
  height: 42px;
  width: fit-content !important;
  margin: auto;
  .p-inputtext{
    text-align: center;
    padding-right: 0;
    font-family: 'gotham';
    font-size: 0.9rem !important;
    border-radius: 10px 0 0 10px;
    font-weight: 700 !important;
  }
  .p-inputnumber-button {
    border-radius: 0 10px 10px 0;
  }
}

  
// BOTOES

  .label-file{
    cursor: pointer;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #3B82F6;
    background-color: #FFFFFF;
    border: 1px solid;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -15%;
    z-index: 3;
  }

  .label-file:hover{
    background: #e0f4ff;
    color: #3B82F6;
    border: 1px solid;
  }

  .label-file:active {
    background: rgba(59, 130, 246, 0.16);
    color: #3B82F6;
    border: 1px solid;
  }

  .p-selectbutton .p-button{
    height: 40px !important;
    .p-button-label{
      font-size: 0.9rem !important;
      font-weight: normal !important;

    }
  }
  .p-selectbutton .p-button[aria-pressed="true"]{
    outline: none !important;
    border: none;
  }

  .p-fileupload-choose{
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 17px !important;
    height: 40px;
    box-shadow: 0 3px 1px -2px #00000033, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
    .p-button-icon{
      font-size: 15px !important;
    }    
  }

  .btn-opcoes{
    margin: 0px 2px !important;
    border-radius: 50% !important;
    height: 33px !important;
    width: 33px !important;
    border-color: transparent !important;
    .p-button-icon{
      font-size: 15px !important;
    }
  }
  .btn-green, .btn-red, .btn-darkblue {
    margin: 0px 2px !important;
    border-radius: 50% !important;
    height: 33px !important;
    width: 33px !important;
    border-color: transparent !important;
    box-shadow: 0 3px 1px -2px #00000033, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
    .p-button-icon{
      font-size: 15px !important;
    }
  }
  
  .p-fileupload-choose:focus, .p-dialog-header-close:focus{
    outline: solid #64748b77 !important;
  }

  .btn-1:focus, .btn-2:focus,.btn-3:focus, .btn-branco:focus,
  .btn-green:focus, .btn-darkblue:focus, .btn-red:focus, .btn-opcoes {
    transition: background-color .2s,box-shadow .2s !important ;
  }
    
  .btn-1, .btn-2, .btn-3, .btn-branco {
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    border: none !important;
    border-radius: 10px !important;
    height: 40px;
  }
    
  .swal2-confirm{
    height: 40px!important;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25)!important;
    border-color: transparent !important;
    border-radius: 10px!important;
    line-height: 15px!important;
  }
  
  .swal2-cancel, .swal2-deny{
    height: 40px!important;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25)!important;
    border-color: transparent !important;
    border-radius: 10px!important;
    line-height: 15px!important;
  }
    
  
  .swal2-container {
    z-index: 20000 !important;
  }
  

@media screen and (max-width: 506px){
    .btn-2{
        margin: 5px;
    }
    .btn-1{
        margin: auto !important;
        width: 250px;
    }
    .p-selectbutton .p-button{
      padding: 0 0.5rem !important;
    }
    .view-solicitacao-folgas-menus, .selectbutton-options{
      justify-content: center;      
    }
  


}

@media screen and (max-width: 1140px)and (min-width: 506px){


}