

.input-uf-naturalidade{
    width: 20%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px !important;
    font-weight: bold;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.input-mu-naturalidade{
    width: 80%;
}


#naturalidade-input{
    display: flex;
    width: 100%;
}

.painel-anotacoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-anotacao{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.botao-opcoes-anotacao{
    margin-left: 5px !important;
}


.resumo-anotacoes{
    width: 100% !important;
    min-height: 100px;
}

.card-selecionar-chefe{
    height: 100%;
}


.texto-maiusculo{
    text-transform: uppercase;
}

.label-file-servidor{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-radius: 5px;
}

.input-arquivo-servidor{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.input-arquivo-servidor > p{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    width: 80%;
}

.link-arquivo-servidor{
    text-decoration: none;
    margin: 0;
}

.field input{
    margin-bottom: 0px;
}

.documento-item{
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E9ECEF;
    border-radius: 10px;
}

@media screen and (max-width: 506px){
  
    
}
  
@media screen and (max-width: 1140px)and (min-width: 506px){


}
