.distribuicao-processos {
  height: 100%;

  div.header-coluna {
    display: flex;
  }

  div.header-coluna input {
    width: 50px;
  }

  .titulo-distribuir-processos {
    margin-top: 1rem;
  }

  .p-accordion {

    .p-accordion-content {
      padding: 5px !important;
    }

    .p-accordion-header a {
      height: 10px;
    }
  }

  .p-dropdown {
    width: 30vw;
    margin-right: 5px;
  }

  .p-inputtext {
    &#titulo-reuniao {
      font-weight: bold;
      text-align: center;
      width: 30vw;
      padding: 6px;
      margin-left: 5px;
    }
  }

  .metade {
    margin: 0 10px;
  }

  .titulo-distribuir-processos {
    margin-top: 1rem;
  }

  .row-dropdown {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  .botoes-distribuir-processos {
    margin: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .label-marcar {
    width: 60vw;
    margin: 10px 0px;
  }

  .processos {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;

  }

  .titulo-lista {
    margin-left: 5px;
  }

  ul.lista-defensores {
    border-radius: 12px;
    padding: 0px;
    height: 60vh;
    width: 30vw;
    overflow: auto;

    li {
      list-style: none;
      padding: 5px;
    }
  }

  .defensor-item {
    display: flex;
    align-items: center;
    background-color: #eee;//Cor fixa
    padding: 10px;
    margin: 5px 0px;
    border-radius: 12px;
    width: 100%;

    li {
      width: 100%;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }


  span.span-info {
    font-size: small;
    font-style: italic;
  }

  .defensores-livres {
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  .selecao-defensores {
    display: flex;
    justify-content: space-between;
  }

  .checkbox-geral {
    align-self: center;
    cursor: pointer;
  }

  #texto-checkbox {
    margin-left: 10px;
    user-select: none;
  }

  .processo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    span.processo-data {
      font-size: small;
      font-style: italic;
    }

    .botoes {
      justify-content: flex-end;
      width: min-content;
      height: max-content;
    }

    .botoes .p-button {
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 2px 0;
    }
  }

  @media screen and (max-width: 506px) {

    .row-dropdown{
      flex-direction: column;
      align-items: center;
      width: 100%;
      .p-dropdown {
        width: 100%;
        margin: 0;
      }
    }
    .p-inputtext {
      &#titulo-reuniao {
        width: 100%;
        margin: 10px 0 0 0;
      }
    }  

    .processos {
      width: 100%;
    }

    .selecao-defensores {
      flex-direction: column;
      width: 100%;
    }

    .metade{
      margin: 0px;
    }

    ul.lista-defensores {
      height: 25vh;
      width: 100%;
    }

    .botoes-distribuir-processos{
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      button{
        margin: 10px 5px 0 5px;
      }
    }

    .defensor-item {
      padding: 5px 10px;

      li {
        font-size: small;
      }
    }
  }

  @media only screen and (min-width : 1600px) {
    .row-dropdown {
      margin-bottom: 25px;
    }

    .processos {
      margin-top: 25px;
    }

    .input-grupo {
      margin-bottom: 10px;
    }

    ul.lista-defensores {
      height: 55vh;
    }
  }

  @media only screen and (max-width : 1600px) {
    ul.lista-defensores {
      height: 43vh;
    }
  }
}