
.top-box{
    display: flex;
    justify-content: space-between;
    label{
        font-size: 32px;
        font-weight: 700;
    }
}
.h1-titulo{
    text-transform: capitalize !important;
}

.tag-dias{
    font-weight: 700 !important;
    font-size: 1.25rem !important;
    border: none !important;
    border-radius: 10px !important;
    margin-left: 10px;
}
.tag-mes{
    text-transform: uppercase;
    font-weight: 500 !important;
    font-size: 1.25rem !important;
    border: none !important;
    border-radius: 6px !important;
    padding: 5px 20px !important;
}

.label-descricao{
    font-family: 'galano' !important;
    //font-weight: 700 !important;
}

.area-solicitar-ferias{
    height: 90%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-column: 2 / 2;
    grid-template-rows: 90% 10%;
}

.caixa-ferias-esq, .caixa-folgas-esq, .caixa-pecunia-esq, .caixa-escala-esq {
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    //display: grid;
}

.caixaVigencias{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button{
        margin: 0 auto;
    }       

}
.caixa-ferias-dir, .caixa-folgas-dir, .caixa-pecunia-dir, .caixa-escala-dir {
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 100% !important;
    margin-left: 18px;
}

.botao-solicitar-ferias{
    display: flex;
    align-items: center;
    justify-content: end;
}

.saldos-disponiveis{
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    min-height: 32px;
    line-height: 32px;
    display: grid;
    grid-template-columns: 33% auto 15% ;
    margin-bottom: 0px;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

    label{
        text-align: center;
        vertical-align: baseline;
    }
    
    :nth-child(3){
        margin: auto;
    }
}

.resume-label{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    display: flex;
    align-items:flex-end;
    color: #dd7e04 !important;
}
.resume-label p:hover{
    text-decoration: underline;
    cursor: pointer !important;

}

@media screen and (max-width: 506px){

    .area-solicitar-ferias, .area-solicitar-folgas, .area-soliciar-pecunia, .area-escala-ferias, .area-escala-defensor-ferias{
        display: contents !important;
    }
    .caixa-ferias-dir, .caixa-folgas-dir, .caixa-pecunia-dir, .caixa-escala-dir, .caixa-escala-esq {
        margin: 10px 0;
        height: auto !important;
    }
    .container-mes{
        margin: 10px 0;
    }
    .botao-solicitar-ferias{
        padding: 10px 0 20px 0;
    }
    .top-box{
        justify-content: center;
        h1{
            display: none;
        }
        h2, .tag-dias {
            font-size: 1rem !important;
        }
    }

}

@media screen and (max-width: 1140px)and (min-width: 506px){
    .top-box{
        justify-content: flex-end;
        h1{
            display: none;
        }
        h2, .tag-dias {
            font-size: 1.25rem !important;
        }
    }
    .area-solicitar-ferias, .area-solicitar-folgas, .area-soliciar-pecunia, .area-escala-ferias, .area-escala-defensor-ferias{
        display: contents !important;
    }

    .caixa-ferias-dir, .caixa-folgas-dir, .caixa-pecunia-dir, .caixa-escala-dir, .caixa-escala-esq {
        margin: 10px 0;
        height: auto !important;
    }
    .botao-solicitar-ferias{
        padding: 10px 0 20px 0;
    }
    .container-dias{
        margin: 2rem auto !important;
    }

    
}


