.container-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-column {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.checkbox1 {
    margin-left: 20px;
}

.area-escala-ferias{
    height: 90%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-column: 2 / 2;
    grid-template-rows: 90% 10%;
}

.area-escala-defensor-ferias{
    height: 90%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    grid-template-rows: 90% 10%;
}

.caixa-escala-esq{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.desabilitado{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    pointer-events: none;
    opacity: 0.4;

}
.botao-solicitar-escala{
    text-align: end;
    margin: 10px 0;

}
@media screen and (max-width: 506px){



}

@media screen and (max-width: 1140px)and (min-width: 506px){
    
}
