
.head-solicitar-folgas{
    width: 100%;
    height: 10%;
}

.area-solicitar-folgas{
    height: 90%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-column: 2 / 2;
    grid-template-rows: 90% 10%;
}

.item-folgas-disponiveis{
    display: flex;
    flex-direction: column;
}
.vencimento-folga{
    color: #DADADA;
    font-size: 0.8rem;
    //line-height: null;
    margin: 5px 0 0 0 !important;
}

.calendario-folgas{
    max-width: 400px;
    margin: 1rem auto;
}

.selecao-folgas{
    font-family: 'galano' !important;
    width: 100%;
    height: 20vh;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-content: start;
    text-align: center;
    gap: 10px;

}

.solicitar-folgas-conteudo{
    width: 100%;
    height: 93%;
    overflow: auto;
}

.botoes-acao-folgas{
    width: 100%;
    text-align: left;
}

#folgas-troca-datas{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3px;
}

#folgas-troca-datas-rot{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CED4DA;
    border-radius: 5px;
}

#folgas-troca-datas-cal{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#folgas-troca-datas-cal button{
    background-color: #e9ecef;
    border-color: #CED4DA;
    outline: none;
}

#folgas-troca-datas-ico{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#descricao-historico{
    font-size: 12px;
    text-transform: capitalize !important;
    margin: 0px;
    padding: 5px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
}

//solicitacao folgas

.view-solicitacao-folgas{
    height: 100%;
}

.folgas-corpo-modal-visualizacao{
    display: flex;
}

.folgas-corpo-modal-visualizacao-p2{
    width: 50%;
}

.folgas-corpo-modal-visualizacao-p1{
    width: 50%;
}

.folgas-lista-status > li{
    list-style-type: none;
}

.icone-folgas-status{
    color: #30C782;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.icone-folgas-status-red{
    color: #FF0000;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.icone-folgas-status-yellow{
    color: #BBFF00;
    font-size: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.folgas-descricao-solicitantes{
    margin: 0px;
}

.folgas-painel-deferimento{
    width: 100%;
}

#folgas-texto-deferimento{
    width: 100%;
    min-height: 100px !important;
}

.view-solicitacao-folgas-menus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
}

#folgas-listas-historico{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#folgas-historico-botao-arquivo{

    margin: 2px !important;
}

.credito-folgas-formulario{
    width: 100%;
}

.credito-folgas-selecao{
    width: 100%;
    height: 30vh;
    overflow: auto;
    border: 1px solid #DADADA;
    padding: 5px;
    border-radius: 5px;
}

.grupo-input-cadastro-folgas{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.field-cadastro-folgas{
    margin-left: 5px;
}

@media screen and (max-width: 506px){

    .selecao-folgas{
        grid-template-columns: auto auto;
        
    }

    .header {
        justify-content: center;
    }


}

@media screen and (max-width: 1140px)and (min-width: 506px){


}


