.relatorios-main{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.relatorios-main button{
    width: 50%;
    text-align: left;
    margin-top: 10px;
}

@media screen and (max-width: 506px){
    .relatorios-main button{
        width: 100%;
    }
}
