@import "paleta.scss";

@font-face {
  font-family: 'galano';
  src: url(./fonts/GalanoGrotesque.otf);
}
@font-face {
  font-family: 'gotham';
  src: url(./fonts/GothamMedium.otf);
}

.font-galano {
  font-family: 'galano' !important;
}

.font-gothan {
  font-family: 'gotham' !important;
}

body, .p-component {
  font-family: 'gotham' !important;
}

body {
  margin: 0;
  //font-family: 'galano' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// diminuir o espacamento de todas as tabelas da aplicação
td , th{
  padding: 10px 5px !important;
}

.p-paginator-bottom{
  border: none !important;
}

// formatação do scroll
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #EAE1E1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aaa;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}


// formatação do template das views
.view{
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  transition: margin-left .2s;
}

.view-body{
  padding: 1.5rem;
  box-shadow: var(--card-shadow);
  border-radius: 12px;
  box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
  height: calc(100vh - 6.5rem);
}

.view-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-pagina{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-breadcrumb {
  border: none !important;
  padding: 0px !important;
  font-size: 14px !important;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.field input{
  margin-bottom: 0px !important;
}

.versao{
  margin-top: auto;
}
#btn-menu{
  display: none;
}

.menu-topo{
  background-color: #ffffff00 !important;
  border: none !important;
  span{
    color: rgba(255, 255, 255, 0.59);
  }
}

.titulo-header{
  display: none;
}

.input-numeros{
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #495057;
  padding: 0px 10px 0px 10px;
  font-size: 1rem;
}

.input-numeros:focus{
  border: 1px solid #6875f1;
  outline: #6875f1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media screen and (max-width: 1140px){
  .header{
    padding: 0;
    
  }
  .header > .btn-1{
    margin-bottom: 10px !important;
  }
  .titulo-header{
    display: inline-block;
    font-size: 1rem !important;
    font-weight: 700 !important;
  }
  .titulo-nav, .navegacao{
    display: none;
  }
  .menu-topo{
    display:inline !important;
    padding: 0 !important;
    //margin: 0 !important;
  }
  .view{
    padding: 10px;
  }
  
  .view-body{
    height: 90vh;
    padding: 1rem;
    overflow: auto;
  }
  .p-breadcrumb{
    display: none;
  }

  .p-dialog{
    width: 90vw !important;
  }
}

@media screen and (max-width: 1140px)and (min-width: 506px){

  .titulo-header{
    font-size: 1.25rem !important;
    font-weight: 700 !important;
  }

}

