// cor bg claro | hover itens
$cor-0:#DADADA; 
// cor bg escuro | botoes
$cor-1:#19985C;
// cor itens bg escuro
$cor-2:#959595;
// cor secundaria
$cor-3:#104856;

/* cor interior da cor 2 */
$cor-inside-1:#FFFFFF;
/* hover da cor 2 */
$cor-hover-1:#0D7159;
/* hover da cor 2 */
$cor-hover-3:#0d3641;
/* hover btn disabled */
$cor-disabled: #818ea1b5;

$cor-link: #04A64B;

/* cor danger */
$cor-4:#C13E3E;
/* hover da cor danger */
$cor-hover-4:#9e3737;
/* cor complemento para a cor 2 */

/* cor de erro */
$cor-erro:#EE5012;

/* cor do placeholder */
$cor-placeholder:#C4C4C4;

/* cor legenda agenda */
$cor-legenda: #8F8F8F;

/* cor legenda agenda hover */
$cor-legenda-hover: #727272;

$cor-1-focus: #19985d28;
$cor-3-focus: #0d586d3b;
$cor-4-focus: #c13e3e4b;

$cor-text: #495057;

$cor-menu: #6c757d;
