$cor-nav:#0E5D58;
// cor do bg navegacao
$cor-0:#DADADA;

$cor-1:#19985C;
// cor interior da cor 2
$cor-inside-1:#FFFFFF;
// hover da cor 2
$cor-hover-1:#0D7159;

// cor bg escuro | botoes
$cor-2:#104856;
// cor interior da cor 2
$cor-inside-2:#FFFFFF;
// hover da cor 2
$cor-hover-2:#0d3641;




// cor danger
$cor-4:#C13E3E;
// hover da cor danger
$cor-hover-4:#9e3737;
// cor complemento para a cor 2
$cor-5:#f2f2f2;
// cor complemento para a cor 5
$cor-6:#d2d2d2;
// cor botoes claros
$cor-7:#00c88c;
// cor complemento para a cor 7
$cor-8:#bbbbbb;

//cor de erro
$cor-erro:#EE5012;

//cor do placeholder
$cor-placeholder:#C4C4C4;

//cor legenda agenda
$cor-legenda: #8F8F8F;