.container-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-row-align-left {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.container-column {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.checkbox1 {
    margin-left: 20px;
}
.cadastro-ferias-header{
    width: 100%;
    height: 20%;

}

.tabela_cadastro{

    height:100%;
    overflow: auto;
    
}