@import '../../paleta.scss';

.menu{
    //position: fixed;
    width: 300px;
    height: calc(100vh - 6.5rem);
    z-index: 999;
    overflow-y: auto;
    margin: 1rem 0 0 1rem;
    left: 1.25rem;
    transition: transform .2s,left .2s;
    border-radius: 12px;
    padding-top: 0.75rem;
    box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
}

.p-panelmenu-header > a{
    background-color: #ffffff00 !important;
    margin: 0px;
    border: none !important;
    outline: none !important;
    border-radius: 0px !important;
    padding: 0.75rem 0rem !important;
    transition: background-color .2s,box-shadow .2s;
}

.p-panelmenu-header > a:focus{
    outline: 0 !important;
    border: none;
    box-shadow: none !important;
}

.p-panelmenu-content{
    background: transparent !important;
    border: none !important;
    margin: 0px;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
    span {
        font-weight: 700;
    }

}

.p-panelmenu .p-panelmenu-header > a .p-panelmenu-icon {
    position: absolute;
    right: -0.7rem;
}
.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
    background-color: transparent !important;
    font-size: 14px !important;
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:hover {
    span {
        font-weight: 700;
    }
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-panelmenu-icon{
    order: 2 !important;
    margin-left: auto;
}

.p-menuitem {
    width: 100%;
    
}

a .p-menuitem-link{
    width: 100%;
}

.p-panelmenu .p-component{
    width: 100%;
    padding: 0 1.25rem;
    font-size: 14px !important;
}

@media (max-width: 991px){
    .layout-wrapper .layout-main-container {
        margin-left: 0;
        padding-left: 2rem;
    }
    .p-panelmenu .p-component{
        width: 100% !important;
    }
}



@media only screen and (max-width: 750px) {

}
