.montagem-menus{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.menus-arvore{
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.botao-label{
  width: 400px;
  text-align: left !important;
}

.icone-opcao-recurso{
  margin-right: 10px;
} 

.icone-opcao-recurso:hover{
  color: black;
}

.botao-adicionar-recurso{
  border: none;
  background-color: #2a7c90;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
}

.botao-adicionar-recurso:hover{
  background-color: #07161a;
}

.item-de-recursos{
  background-color: #DADADA;
  display: inline-block;
  min-width: 400px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 2px;
}

.item-de-recursos-conteudos{
  display: flex;
  align-items: center;
  justify-content: space-between;
}