@import '../../paleta.scss';
.link{
    font-family: 'galano' !important;
    text-decoration: none;
    font-size: 0.9rem;
}
.link:hover{
    text-decoration: underline;
}

.proid-login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login{
    width: 30%;
    border-radius: 12px !important;
    box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014;
}

.header-card-login{
    text-align: center;
}

.body-card-login{
    margin-top: 40px;

}

.footer-card-login{
    margin-top: 30px;
    text-align: center;
}

.input-cpf{
    width: 100%;
}

.input-cpf-text{
    width: 100%;
}
.p-inputgroup{
    margin-top: 10px;
}

.logo-card-login{
    width: 10rem;
}

.p-password input{
    width: 100%;
}

.nome-sistema{
    margin-top: 10px;
    text-transform: uppercase;
}

.botao-login{
    background-color: #2D677C !important;
    border: none !important;
}

.botao-login:hover{
    background-color: #1f4958 !important;
    border: none !important;
}

#nome-titulo-sigla{
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

#nome-titulo-sistema{
    margin: 0px;
}

#esqueceu-a-senha {
    text-align: end;
}

.opcoes_login{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width: 1000px) {
    .card-login{
        width: 50%;
    }
    .logo-card-login{
        width: 50%;
    }
}

@media only screen and (max-width: 750px) {
    .card-login{
        width: 70%;
    }
    .logo-card-login{
    width: 50%;
}
}
