@import "../../../paleta.scss";


.meritocracia-administrar-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo-trimestre {
        display: flex;
        flex-direction: column;

        h2 {
            margin: 0;
        }

        span {
            align-self: center;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 10px;

        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
        padding: 1rem;

        li {
            list-style: none;
            background-color: rgb(240, 240, 240);
            box-shadow: 2px 2px 3px;
            height: 75px;
            width: 210px;

            border: 4px double rgb(109, 109, 109);
            border-radius: 5px;

            span {
                color: white;
                font-weight: bold;
                padding: 5px;
            }

            div.checkbox-planilha {
                display: flex;
                align-self: center;
                justify-content: space-between;
                align-items: center;

                height: 100%;
                width: 100%;
                padding: 0.3rem;
                padding-right: 0.5rem;

                &:hover{
                    cursor: default;
                    //filter: brightness(50%);
                }
            }

            div.checkbox-planilha-enviada {
                background-color: rgb(33, 160, 54);
                &:hover{
                    transition: 0.05s ease-in;
                    background-color: rgb(25, 126, 42);
                    span {
                        color: white;
                    }
                }
            }

            div.checkbox-planilha-pendente {
                background-color: rgb(231, 49, 49);
                &:hover{
                    cursor: default;
                    background-color: rgb(189, 40, 40);
                }
            }

            .p-checkbox {
                .p-checkbox-box {
                    border: 2px solid white;
                    border-radius: 5px;
                }
            }
        }
    }
}