.selectbutton-options{
    width: 100%;
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.visualizar-solicitacoes-ferias{
    height: 75vh;
}